{% extends 'home.html' %}
{% block content %}
    {% if messages %}
    <div class="alert alert-success py-1 w-100">

            {% for message in messages %}
            <small {% if message.tags %} class="{{message.tags}}" {% endif %}> {{message}} </small>
            {% endfor %}

        {% endif %}
    </div>
    <a href="{% url 'home' %}" class="btn btn-close-black " aria-label="Close">
        <span aria-hidden="true">&times;</span></a>

    <div class="text-center mt-auto">
        <h3>Edit Profile </h3><br>
        <form action="" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p>{{error}}</p>
            {% endfor %}
            {% endif %}
            {% for f in form %}
            {{f.label_tag}} {{f}} {{f.errors|striptags}} <br><br>
            {% endfor %}
            <button type="submit" class="btn btn-success">Save Changes</button>
            <br><br>
            <a href="{% url 'home' %}" class="btn btn-primary text-white">Go to Home Page</a><br><br>
        </form>
    </div>
{% endblock %}
