{% extends 'home.html' %}

{% block content %}

<div class="row justify-content-center bg-dark ">
    <section class="col-12 col-sm-12  col-md-4 mb-2 pb-5">
        <div class="form-control form-control-md my-5 pb-5">

            <form action="" method="POST" novalidate>

                <h2>Sign Up</h2><br>
{% for field in form %}
    <div class="row ">
       <div class="col-md-6">
        {{ field.label_tag }}
       </div>
        <div style="width:50px">
         {{ field }}<br><br>
            <div style="width:180px;">
            {% for error in field.errors %}
            <div class="alert alert-danger  py-1 col-xs-1">{{error}}</div>
          {% endfor %}
            </div>
       </div>


    </div>

 {% endfor %}
                {% csrf_token%}

                <button type="submit" class="btn btn-success ">Submit</button>
                <br><br>
            <a href="{% url 'login' %}" class="btn btn-primary">Login to continue</a>
        </form>
        </div>
    </section>
</div>
{% endblock %}