{% extends 'home.html' %}
{% block content %}
<div class="container">
    <h3 class="mt-5 ms-3">Update Post</h3>
    <div class="col col-2 ">
        <div class="form-group form-control-lg">
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success btn-md">Update</button>
                <br><br>
                <a href="{% url 'home' %}" class="btn btn-danger btn-md">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}