{% extends 'home.html' %}
{% block content %}
{% if validlink %}
<div class="row d-flex justify-content-center mt-5 py-5">
    <div class="col-md-4 py-5">
        <h3>Reset Password</h3><br>
        <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
            <div class="row ">
                <div class="col-md-12">
                    {{ field.label_tag }}
                </div>
                <div class="container">
                    <div class="row ms-1 py-2 my-2">
                        {{ field }}<br><br>
                    </div>
                    <div class="col-xs-6">
                        {% for error in field.errors %}
                        <div class="alert alert-danger  py-1 col-xs-1">{{error}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}

            <button class="btn btn-success btn-md ms-1 w-100" type="submit">Change password</button>
        </form>
    </div>
</div>
{% else %}
<p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</p>

{% endif %}
{% endblock %}