{% extends 'registration/changepwd.html' %}
{% block content %}

<nav class="navbar navbar-expand-md justify-content-end py-1 navbar-light bg-light">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item" style="list-style: none;">

            <a class=" text-dark font-weight-bold px-2" href="{% url 'home' %}">Home</a>
            <a class=" text-dark font-weight-bold" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
</nav>

<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
</form>

{% endblock %}